.posts-container {
  max-width: 760px;
  margin-top: 96px;
}

.title-image {
  margin-top: 2em;
}

.post-img {
  width: 100%;
  max-height: 30em;
  padding: 2em;
  object-fit: cover;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #dedede;
  height: 1px;
}
